/**
 * @file
 * Gamertags module stylesheet.
 */
div#gamertags-usage-wrapper {
  margin-top: 0.5em;
}

#gamertags-usage-table {
  padding: 3px;
}

ul#gamertags-all li {
  list-style-type: none;
  padding: 0;
}

div.gamertags-error, .gamertags-error {
  border-color: #ED541D;
  color: #8C2E0B;
}
