/**
 * @file
 * Nintendo Wii specific stylesheet for the Gamertags module.
 */
#wii-background {
  background: url(http://z3.ifrm.com/132/33/0/f123597/wiifriendcodebg.png) center no-repeat;
  width: 210px;
  height: 40px;
}

#wii-gamertag, #wii-gamertag a {
  text-decoration: none;
  padding: 8px 0;
  color: #404040;
  text-align: right;
  font-weight: 900;
  font-size: 16px;
  width: 197px;
}
